[Unit]
Description=ASFclaim
# for running on raspberry pi

[Service]
ExecStart=/usr/bin/node /home/pi/ASFclaim/index.js
Restart=always
RestartSec=120
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/ASFclaim

[Install]
WantedBy=multi-user.target